.App{
    display: flex;
    gap: 10px;
    padding: 20px;
}

li{
    list-style: none;
}

.error{
    border: 1px solid red;
}
.error_message{
    color: red;
}
.blur_active_task{
    opacity: 0.5;
}


button:focus-visible, a:focus-visible, input:focus-visible {
       outline: 5px solid oklch(60% 0.15 252);

}